<h1>Books</h1>

<% @books.each do |book| %>

<p>Title</p>
<%= link_to book.title, "/books/#{book.id}" %>

<p>Body</p>
<span><%= book.body %></span>

<p>Show</p>

<p>Edit</p>

<p>Destroy</p>

<% end %>